ul {
  list-style: none;
}

.info-container {
  text-align: center;
  margin: 6rem 2rem;
}

.info-container h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px;
}

.button {
  border: 1px solid rgb(25, 118, 210);
  border-radius: 20px 20px;
  padding: 14px 28px;
  margin-bottom: 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
}
.button:hover {
  background-color: rgb(25, 118, 210);
  color: whitesmoke;
}
.trial-button {
  text-align: center;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
