
#dashboard-details {
  border-collapse: collapse;
  width: 100%;
}

#dashboard-details td,
#dashboard-details th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dashboard-details tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dashboard-details tr:hover {
  background-color: #ddd;
}

#dashboard-details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1976d2;;
  color: white;
}
