.column-d1,
.column-d2 {
  float: left;
  width: 50%;
  padding: 30px;
  height: 300px;
}
.row-d:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 400px) {
  .column-d2 {
    float: none;
    padding-top: 900px;
  }
}

.form {
  margin-top: 20px ;
}

label {
  font-size: medium;
  margin-right: 50px;
  display: inline-block;
  width: 150px;
  text-align: right;
}
input,
select {
  display: inline-block;
  margin: 10px;
  padding: 5px;
}
